@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(0.9816 0.0017 247.8390);
    --foreground: oklch(0.1649 0.0352 281.8285);

    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.1649 0.0352 281.8285);

    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1649 0.0352 281.8285);

    --primary: oklch(0.6726 0.2904 341.4084);
    --primary-foreground: oklch(1.0000 0 0);

    --secondary: oklch(0.9595 0.0200 286.0164);
    --secondary-foreground: oklch(0.1649 0.0352 281.8285);

    --muted: oklch(0.9595 0.0200 286.0164);
    --muted-foreground: oklch(0.1649 0.0352 281.8285);

    --accent: oklch(0.8903 0.1739 171.2690);
    --accent-foreground: oklch(0.1649 0.0352 281.8285);

    --destructive: oklch(0.6535 0.2348 34.0370);
    --destructive-foreground: oklch(1.0000 0 0);

    --border: oklch(0.9205 0.0086 225.0878);
    --input: oklch(0.9205 0.0086 225.0878);
    --ring: oklch(0.6726 0.2904 341.4084);

    --radius: 0.5rem;

    --chart-1: oklch(0.6726 0.2904 341.4084);

    --chart-2: oklch(0.5488 0.2944 299.0954);

    --chart-3: oklch(0.8442 0.1457 209.2851);

    --chart-4: oklch(0.8903 0.1739 171.2690);

    --chart-5: oklch(0.9168 0.1915 101.4070);

    --sidebar: oklch(0.9595 0.0200 286.0164);

    --sidebar-foreground: oklch(0.1649 0.0352 281.8285);

    --sidebar-primary: oklch(0.6726 0.2904 341.4084);

    --sidebar-primary-foreground: oklch(1.0000 0 0);

    --sidebar-accent: oklch(0.8903 0.1739 171.2690);

    --sidebar-accent-foreground: oklch(0.1649 0.0352 281.8285);

    --sidebar-border: oklch(0.9205 0.0086 225.0878);

    --sidebar-ring: oklch(0.6726 0.2904 341.4084);

    --font-sans: Outfit, sans-serif;

    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --font-mono: Fira Code, monospace;

    --shadow-color: hsl(0 0% 0%);

    --shadow-opacity: 0.1;

    --shadow-blur: 8px;

    --shadow-spread: -2px;

    --shadow-offset-x: 0px;

    --shadow-offset-y: 4px;

    --letter-spacing: 0em;

    --spacing: 0.25rem;

    --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);

    --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);

    --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);

    --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);

    --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 2px 4px -3px hsl(0 0% 0% / 0.10);

    --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 4px 6px -3px hsl(0 0% 0% / 0.10);

    --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 8px 10px -3px hsl(0 0% 0% / 0.10);

    --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);

    --tracking-normal: 0em;
  }

  .dark {
    --background: oklch(0.1649 0.0352 281.8285);
    --foreground: oklch(0.9513 0.0074 260.7315);

    --card: oklch(0.2542 0.0611 281.1423);
    --card-foreground: oklch(0.9513 0.0074 260.7315);

    --popover: oklch(0.2542 0.0611 281.1423);
    --popover-foreground: oklch(0.9513 0.0074 260.7315);

    --primary: oklch(0.6726 0.2904 341.4084);
    --primary-foreground: oklch(1.0000 0 0);

    --secondary: oklch(0.2542 0.0611 281.1423);
    --secondary-foreground: oklch(0.9513 0.0074 260.7315);

    --muted: oklch(0.2542 0.0611 281.1423);
    --muted-foreground: oklch(0.6245 0.0500 278.1046);

    --accent: oklch(0.8903 0.1739 171.2690);
    --accent-foreground: oklch(0.1649 0.0352 281.8285);

    --destructive: oklch(0.6535 0.2348 34.0370);
    --destructive-foreground: oklch(1.0000 0 0);

    --border: oklch(0.3279 0.0832 280.7890);
    --input: oklch(0.3279 0.0832 280.7890);
    --ring: oklch(0.6726 0.2904 341.4084);
    --chart-1: oklch(0.6726 0.2904 341.4084);
    --chart-2: oklch(0.5488 0.2944 299.0954);
    --chart-3: oklch(0.8442 0.1457 209.2851);
    --chart-4: oklch(0.8903 0.1739 171.2690);
    --chart-5: oklch(0.9168 0.1915 101.4070);
    --radius: 0.5rem;
    --sidebar: oklch(0.1649 0.0352 281.8285);
    --sidebar-foreground: oklch(0.9513 0.0074 260.7315);
    --sidebar-primary: oklch(0.6726 0.2904 341.4084);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.8903 0.1739 171.2690);
    --sidebar-accent-foreground: oklch(0.1649 0.0352 281.8285);
    --sidebar-border: oklch(0.3279 0.0832 280.7890);
    --sidebar-ring: oklch(0.6726 0.2904 341.4084);
    --font-sans: Outfit, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Fira Code, monospace;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.1;
    --shadow-blur: 8px;
    --shadow-spread: -2px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 4px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
    --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
    --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 2px 4px -3px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 4px 6px -3px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.10), 0px 8px 10px -3px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: var(--font-sans);
    letter-spacing: var(--tracking-normal);
  }
}